services:
  db:
    image: postgres:16
    container_name: postgres_flights
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: flights
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_flights
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  api:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: fastapi_flights
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./app:/app

volumes:
  postgres_data:
